*.bak
bak
*.exe
*.zip
*.bak
bak
*.exe
*.zip
*.dSYM
*.db
# out/*.js
# out/*.dart
# out/*.py
# out/*.ir
# out/*/*.js
# out/*/*.dart
# out/*/*.py
# out/*/*.ir
__pycache__
.DS_Store

# dart
.packages
.dart_tool
*.lock

# s1
settings.json
out/flutter/.dart_tool
out/flutter/.packages
out/flutter/pubspec.lock
out/flutter/build
vm1